[defaults]
inventory           = inventory/hosts.ini
roles_path          = roles
host_key_checking   = False
retry_files_enabled = False
stdout_callback     = yaml
callbacks_enabled   = profile_tasks, timer
interpreter_python  = auto_silent
gathering           = smart
fact_caching        = memory

# Increase timeout for slow RHEL package installs
timeout = 60

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root

[ssh_connection]
pipelining              = True
ssh_args                = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
control_path_dir        = /tmp/ansible-ssh-%%h-%%p-%%r

[galaxy]
server_list = automation_hub, galaxy

[galaxy_server.galaxy]
url = https://galaxy.ansible.com/

[galaxy_server.automation_hub]
url = https://cloud.redhat.com/api/automation-hub/
